
.md-typeset h1 {
  font-weight: bold;
  color: #000;
  border-bottom: solid 2px purple;
  padding-bottom: 5px;
}

.md-typeset h2 {border-bottom: solid 1px #000000;}

.md-typeset h3 {border-bottom: 1px dotted #888;}

.md-typeset content {
  line-height: normal;
}

.md-typeset p{
  font-size:medium;
  line-height: normal;
}

.md-typeset ul li {
  line-height: 1;
  font-size:medium;
}